<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--========== BOX ICONS ==========-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    <!--========== CSS ==========-->
<!--    <link rel="stylesheet" href="../../static/css/layout.styles.css">-->
    <link th:href="@{/css/layout.styles.css}" rel="stylesheet" type="text/css">

    <title>Responsive sidebar submenus</title>
</head>

<body data-layout-config="{&quot;leftSideBarTheme&quot;:&quot;dark&quot;,&quot;layoutBoxed&quot;:false, &quot;leftSidebarCondensed&quot;:false, &quot;leftSidebarScrollable&quot;:false,&quot;darkMode&quot;:false, &quot;showRightSidebarOnStart&quot;: true}">
    <!--========== HEADER ==========-->
    <header class="header">
        <div class="header__container">
<!--            <img src="assets/img/perfil.jpg" alt="" class="header__img">-->

            <a th:href="@{/home}" class="header__logo">TripleDot</a>

            <div class="header__search">
                <input type="search" placeholder="Search" class="header__input">
                <i class='bx bx-search header__icon'></i>
            </div>

            <div class="header__toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>
        </div>
    </header>

    <div class="nav" id="navbar">
        <nav class="nav__container">
            <div style="margin-left: 24px">
                <a href="#" class="nav__link nav__logo">
                    <i class='bx bxs-disc nav__icon'></i>
                    <span class="nav__logo-name">TripleDot</span>
                </a>

                <div class="nav__list">
                    <div class="nav__items">
                        <h3 class="nav__subtitle">Profile</h3>

                        <a th:href="@{/home}" class="nav__link active">
                            <i class='bx bx-home nav__icon'></i>
                            <span class="nav__name">Home</span>
                        </a>

                        <div class="nav__dropdown">
                            <a href="#" class="nav__link">
                                <i class='bx bx-user nav__icon'></i>
                                <span class="nav__name">Profile</span>
                                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
                            </a>

                            <div class="nav__dropdown-collapse">
                                <div class="nav__dropdown-content">
                                    <a th:href="@{'/user/' + ${currentUserId}}" class="nav__dropdown-item">Information</a>
                                    <a th:href="@{'/Appointment/user/' + ${currentUserId}}" class="nav__dropdown-item">Appointment Schedule</a>
                                </div>
                            </div>
                        </div>

                        <a th:href="@{'/bookDoctorForm/user/' + ${currentUserId}}" class="nav__link">
                            <i class='bx bx-book-content nav__icon'></i>
                            <span class="nav__name">Add Appointment</span>
                        </a>

                        <a th:href="@{'/web/drug2/' + ${currentUserId}}" class="nav__link">
                            <i class='bx bxs-capsule nav__icon'></i>
                            <span class="nav__name">Drug</span>
                        </a>

                        <a th:href="@{/healthInformationByDay}" class="nav__link">
                            <i class='bx bx-trending-up nav__icon' ></i>
                            <span class="nav__name">Health Info By Day</span>
                        </a>
                    </div>
                </div>
            </div>

            <a style="margin-left: 22px" th:href="@{/logout}" class="nav__link nav__logout">
                <i class='bx bx-log-out nav__icon'></i>
                <span class="nav__name">Log Out</span>
            </a>
        </nav>
    </div>

    <div layout:fragment="content">

    </div>
    <script src="../../static/js/main.js"></script>
</body>

<div layout:fragment="script">

</div>

</html>