<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/indexxx}">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>HealthInformation Management</title>
</head>
<body>

<section layout:fragment="content" style="margin-top: 100px">
  <br>
  <div class="container main-content list">
    <div class="row">
      <a th:href="@{/showHealthInformationByDayForm}" class="btn btn-primary pull-left"> Add new Health Information </a>
    </div>
      <div class="row mt-3">
          <table border="1" class="table table-bordered table-hover table-striped text-center" id="tableData">
              <th>
                  No
              </th>
              <th>
                  Blood Pressure
              </th>
              <th>
                  Weight
              </th>
              <th>
                  Glucose Level
              </th>
              <th>
                  Blood Type
              </th>
              <th>
                  Note
              </th>
              <th>
                  Create_at
              </th>
              <th>
                  Update_at
              </th>
              <th>Action </th>
              <tr th:each="healthInformationByDayPage, iStat : ${healthInformationByDayPage.content}">
                  <td th:text="${healthInformationByDayPage.id}" ></td>
                  <td th:text="${healthInformationByDayPage.bloodPressure}"></td>
                  <td th:text="${healthInformationByDayPage.weight}" ></td>
                  <td th:text="${healthInformationByDayPage.bloodType}"></td>
                  <td th:text="${healthInformationByDayPage.glucoseLevel}"></td>
                  <td th:text="${healthInformationByDayPage.note}" ></td>
                  <td th:text="${healthInformationByDayPage.createdAt}"></td>
                  <td th:text="${healthInformationByDayPage.updatedAt}"></td>
                  <td>
                      <a th:href="@{/showFormUpdateHealthInformation/{id}(id=${healthInformationByDayPage.id})}" class="btn btn-primary">Update</a>
                      &nbsp;
                      <a th:href="@{/deleteHealthInformation/{id}(id=${healthInformationByDayPage.id})}" class="btn btn-danger">Delete</a>
                  </td>
              </tr>
          </table>
      </div>

  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

<script layout:fragment="script">
    $('#myModal').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
    })

  $(document).ready(function (){
    $("#top-search").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#tableData tbody tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });


    /*$("#myTableTest").DataTable({
      "ajax": '../api/v1/healthInformation',
      columns: [
        {data: "bloodPressure"},
        {data: "weight"},
        {data: "glucoseLevel"},
        {data: "bloodType"},
      ]
    });*/
  });

</script>
</body>
</html>