.list {
  display: flex;
  width: 100%;
  .listContainer {
    flex: 6;
  }
}
.header-todo {
  width: 100%;
  padding-bottom: 20px;
}
.user-title {
  h1 {
    font-size: 3rem;
  }
  button {
    font-size: 1.6rem;
  }
}


.input-user {
  display: flex;
  justify-content: space-around;
  padding: 5px 3px;
  //box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 1px solid #333;
  width: 60%;
  border-radius: 70px;
}

.btn-button {
  border-left: 1px solid #333;
  padding: 1px 0 0 10px;
  background: transparent;
  i {
    font-size: 2rem;
    padding: unset;

  }
}