.css-2dum1v-MuiDrawer-docked .MuiDrawer-paper {
  margin-top: 66px;
  overflow: hidden;
  background-color: #151717;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
.css-45fs7h-MuiDrawer-docked .MuiDrawer-paper {
  margin-top: 66px;
  overflow: hidden;
  background-color: #151717;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}
* {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;

}
.css-45fs7h-MuiDrawer-docked {
  .MuiDrawer-paper {
    .css-173f0fe-MuiList-root {
      .css-uxa1ks-MuiListItem-root {
        .css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root {
          .css-1ic4du8-MuiListItemText-root {
            .css-10hburv-MuiTypography-root{
              font-size: 1.6rem;
              font-family: 'Poppins', sans-serif;
              color:rgb(255,255,255,0.6);
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }

    }
    .css-h4y409-MuiList-root {
      .css-uxa1ks-MuiListItem-root{
        .css-1m5i5w0-MuiButtonBase-root-MuiListItemButton-root {
          .css-1ic4du8-MuiListItemText-root {
            .css-10hburv-MuiTypography-root {
              font-size: 1.6rem;
              font-family: 'Poppins', sans-serif;
              color:rgb(255,255,255,0.6);
              &:hover {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
/*
.sidebar {
  width: 15%;
  flex: 1;
  border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  //background-color:rgb(54,57,63);


  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #6439ff;
    }
  }

  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 14px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          font-size: 18px;
          color: #7451f8;
        }

        span{
          font-size: 14px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom{
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOption{
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border: 1px solid #7451f8;
      cursor: pointer;
      margin: 5px;

      &:nth-child(1){
        background-color: whitesmoke;
      }
      &:nth-child(2){
        background-color: #333;
      }
      &:nth-child(3){
        background-color: darkblue;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .sidebar {
    width: 15%;
    background-color: white;
    align-items: center;

    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }

    .center {
      padding-left: 7px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .title {
          font-size: 13px;
          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
          //display: none;
        }

        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: #ece8ff;
          }

          .icon {
            font-size: 16px;
            color: #7451f8;
          }

          span {
            font-size: 11px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .sidebar {
    width: 10%;
    background-color: white;
    align-items: center;

    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }

    .center {
      padding-left: 9px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .title {

          font-weight: bold;
          color: #999;
          margin-top: 15px;
          margin-bottom: 5px;
          display: none;
        }

        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            //background-color: #ece8ff;
          }

          .icon {
            font-size: 16px;
            color: #7451f8;
          }

          span {
            font-size: 16px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 310px) {
  .sidebar {
    width: 12%;
    background-color: white;
    align-items: center;

    .top {
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      .logo {
        font-size: 20px;
        font-weight: bold;
        color: #6439ff;
      }
    }

    hr {
      height: 0;
      border: 0.5px solid rgb(230, 227, 227);
    }

    .center {
      padding-left: 0px;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        .title {
          display: none;
        }

        li {
          display: flex;
          align-items: center;
          padding: 5px;
          cursor: pointer;

          &:hover {
            background-color: #ece8ff;
          }

          .icon {
            font-size: 16px;
            color: #7451f8;
          }

          span {
            font-size: 16px;
            font-weight: 600;
            color: #888;
            margin-left: 10px;
            display: none;
          }
        }
      }
    }
  }
}*/
