.footer {
  background-color: #c0e2e2;
}


.footer-content {
  justify-content: space-between;
}
.footer div{
  /* border: 1px solid red; */
}

.footer input {
  font-size: larger;
}

.subcribe-form {
  align-items: center;
  justify-content: flex-end;
  max-width: 400px;
}

@media screen and (min-width: 992px) {
  #myForm {
    justify-content: end;
  }
}

@media screen and (max-width: 992px) {
  #myForm {
    justify-content: center;
    align-items: center;
  }

  #myForm form div{
    text-align: center;
  }
}