<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<form>
    <input type="text" id="id" />
    <button type="button" onclick="deleteWithId()">Delete</button>
</form>




<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    function deleteWithId(){
        var id = $("#id").val();
        $.ajax({
            type: "GET",
            url: "/drug-dosage/"+id,
            cache: false,
            success: function(data){
               alert("success : ");
            },
            error:function (err){
                alert("false :")
            }
        });
    }

</script>
</body>
</html>